body {
  text-align: center;
  background-color: #424731;
}

.video{
	display: flex;
	text-align: center;
    justify-content:space-between;
    align-items: center;
}
.bar_menu{
	background-color: #909484;
    /*padding: 0px 30px;*/
    justify-content:space-between;
    align-items: center;
}

i{
	width:20px;
}

.introduction_bar_menu{
	margin: 5px;
	align-items: left;
}

.liste_bar_menu{
	text-align: center;
	display: flex;
  	align-items: center;
	justify-content:space-between;
	margin-right: 100px;
	background-color: #909484;
	position: sticky;
	top: 0%;
}
.logo{
	height: 16%;
	width: 16%;
}



.video {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}
.video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.main_menu{

	text-align: center;
	background-color: #E0DEE0;
	align-items: center;
	padding: 10px;
  	margin-top: 20px;
	border-radius: 100px;
	margin: 30px;
}

.source{
	background-color: #7699BB;
	padding: 10px;
  	margin-top: 20px;
	border-radius: 100px;
	margin: 30px;
}

.bar_2{
	border: 5px solid #706f75;
	background-color: white;
    margin: 100px;
}

#reseau_img {
	width: 80%;
    height: 80%;

}

a{
	text-decoration: none;  
}

.block_contenant{
	display: flex;
	align-items: center;
}

.text_information{
	text-align: left;
	align-items: left;
}

/*La Nav_Bar*/



.liste_bar_menu ul {
	list-style-type: none;
}


.liste_bar_menu ul::after{
	content: "";
	display: table;
	clear: both;
}

.liste_bar_menu a {
	display: block;
	text-decoration: none;
	color: black;
	border-bottom: 2% solid transparent;
	padding: 5%;
}

.liste_bar_menu a:hover{
	color: red;
	border-bottom: 2% solid gold;
}

.niveau2{
	display: none;
	background-color: #909484;
}

.liste_bar_menu > ul li:hover .niveau2{
	display:block;
}

.niveau2 li{
	float:none;
	width: 100%;
	text-align: left;
}

.niveau2 a{
	padding: 10px;
	border-bottom: none;
}

.niveau2 a:hover{
	border-bottom: none;
	background-color: #909484;
}

.niveau2 {
	display: none;
	position: absolute;
	width: 20%;
	z-index: 1000;
}

.liste{
	text-align: left;
}

.remerciement{
	background-color: #847dad;
	align-items: center;
	padding: 10px;
  	margin-top: 20px;
	border-radius: 100px;
	margin: 30px;
}

.text_information{
	margin-top: 5%;
	margin-bottom: 10%;
}

