body {
  text-align: center;
  background-color: #424731;
}

i{
	width:20px;
}

a{
	text-decoration: none;  
}

/*La Nav_Bar*/
.logo{
	height: 16%;
	width: 16%;
}

.bar_menu{
	background-color: #909484;
    justify-content:space-between;
    align-items: center;
}

.introduction_bar_menu{
	margin: 5px;
	align-items: left;
}

.liste_bar_menu{
	text-align: center;
	display: flex;
  	align-items: center;
	justify-content:space-between;
	margin-right: 100px;
	background-color: #909484;
	position: sticky;
	top: 0%;
}

.liste_bar_menu ul {
	list-style-type: none;
}


.liste_bar_menu ul::after{
	content: "";
	display: table;
	clear: both;
}

.liste_bar_menu a {
	display: block;
	text-decoration: none;
	color: black;
	border-bottom: 2% solid transparent;
	padding: 5%;
}

.liste_bar_menu a:hover{
	color: red;
	border-bottom: 2% solid gold;
}


.liste_bar_menu > ul li:hover .niveau2{
	display:block;
}

.niveau2 li{
	float:none;
	width: 100%;
	text-align: left;
}

.niveau2 a{
	padding: 10px;
	border-bottom: none;
}

.niveau2 a:hover{
	border-bottom: none;
	background-color: #909484;
}

.niveau2 {
	display: none;
	background-color: #909484;
	position: absolute;
	width: 20%;
	z-index: 1000;
}

.liste{
	text-align: left;
}

/*index */

.video {
	width: 100%;
}

iframe{
    width: 60%;
    height: 50vh;
}

/*bloc principal*/

.main_menu{

	text-align: center;
	background-color: #E0DEE0;
	align-items: center;
	padding: 10px;
  	margin-top: 20px;
	border-radius: 100px;
	margin: 30px;
}

.block_contenant{
	display: flex;
	align-items: center;
}

.text_information{
	text-align: left;
	align-items: left;
	margin-top: 5%;
	margin-bottom: 10%;
}


/*source*/

.source{
	background-color: #7699BB;
	padding: 10px;
  	margin-top: 20px;
	border-radius: 100px;
	margin: 30px;
}

/*reseau*/

#reseau_img {
	width: 80%;
    height: 80%;

}




/*remerciement*/

.remerciement{
	background-color: #847dad;
	align-items: center;
	padding: 10px;
  	margin-top: 20px;
	border-radius: 100px;
	margin: 30px;
}


